In [99]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [100]:
url2 = 'https://user.wartale.com/index.asp?page=30'
response2 = requests.get(url2)
soup = BeautifulSoup(response2.content, 'html.parser')

In [101]:
data = []
span = soup.find('span')
for a_tag in span.find_all('a'):
    data.append({
        'id_type': a_tag.get('id'),
        'category': a_tag.text
    })

df = pd.DataFrame(data)

df['subtypes'] = df['id_type'].apply(lambda x: f'sub{x}')

df

  id_type     category   subtypes
0  type_1      Weapons  subtype_1
1  type_2     Defenses  subtype_2
2  type_3  Accessories  subtype_3

In [102]:
subtypes = df['subtypes'].tolist()
subtypes

['subtype_1', 'subtype_2', 'subtype_3']

In [103]:
data2 = []
for stype in subtypes:
    a = soup.find('span', id = stype)
    for a_tag in a.find_all('a'):
        data2.append({
            'subtypes': stype,
            'id_subtype': a_tag.get('id'),
            'type': a_tag.text
        })
df2 = pd.DataFrame(data2)    
df2["items"] = df2['id_subtype'].str.replace('sub_', 'items_')
df2

     subtypes id_subtype            type     items
0   subtype_1      sub_2            Axes   items_2
1   subtype_1      sub_5            Bows   items_5
2   subtype_1      sub_4           Claws   items_4
3   subtype_1     sub_19         Daggers  items_19
4   subtype_1     sub_21           Fists  items_21
5   subtype_1      sub_7         Hammers   items_7
6   subtype_1      sub_6        Javelins   items_6
7   subtype_1     sub_20        Phantoms  items_20
8   subtype_1      sub_8         Scythes   items_8
9   subtype_1      sub_3          Swords   items_3
10  subtype_1      sub_1  Wands & Staffs   items_1
11  subtype_2     sub_10          Armors  items_10
12  subtype_2      sub_9           Robes   items_9
13  subtype_2     sub_11         Shields  items_11
14  subtype_2     sub_12            Orbs  items_12
15  subtype_2     sub_13       Bracelets  items_13
16  subtype_2     sub_14       Gauntlets  items_14
17  subtype_2     sub_15           Boots  items_15
18  subtype_3     sub_16         Amulets  items_16
19  subtype_3     sub_23           Belts  items_23
20  subtype_3     sub_22        Earrings  items_22
21  subtype_3     sub_17           Rings  items_17
22  subtype_3     sub_18        Sheltoms  items_18

In [104]:
items = df2['items'].tolist()
items

['items_2',
 'items_5',
 'items_4',
 'items_19',
 'items_21',
 'items_7',
 'items_6',
 'items_20',
 'items_8',
 'items_3',
 'items_1',
 'items_10',
 'items_9',
 'items_11',
 'items_12',
 'items_13',
 'items_14',
 'items_15',
 'items_16',
 'items_23',
 'items_22',
 'items_17',
 'items_18']

In [105]:
data3 = []
for item in items:
    c = soup.find('div', id=item)
    for i in c.find_all('tr'):
        try:
            data3.append({
                "items" : item,
                'onClick': i.td['onclick'],
                'title': i.img['title'],
                'item_name': i.span.text
            })
        except KeyError:
            pass
        except TypeError:
            pass

df3 = pd.DataFrame(data3)
df3

       items               onClick     title             item_name
0    items_2    loadItem2(627, 1);  1-handed             Stone Axe
1    items_2    loadItem2(628, 1);  1-handed             Steel Axe
2    items_2    loadItem2(629, 1);  1-handed            Battle Axe
3    items_2    loadItem2(630, 1);  1-handed               War Axe
4    items_2    loadItem2(631, 1);  2-handed  Double Sided War Axe
..       ...                   ...       ...                   ...
370  items_1   loadItem2(4913, 1);  2-handed       Mythology Staff
371  items_1  loadItem2(11064, 1);  2-handed       Corrupted Staff
372  items_1  loadItem2(17164, 1);  1-handed          Eternal Wand
373  items_1  loadItem2(19228, 1);  2-handed         Rapture Staff
374  items_1  loadItem2(20794, 1);  2-handed         Nurnian Staff

[375 rows x 4 columns]

In [106]:
df3['item_id'] = df3['onClick'].str.extract(r'loadItem2\((\d+), \d+\);')
df3

       items               onClick     title             item_name item_id
0    items_2    loadItem2(627, 1);  1-handed             Stone Axe     627
1    items_2    loadItem2(628, 1);  1-handed             Steel Axe     628
2    items_2    loadItem2(629, 1);  1-handed            Battle Axe     629
3    items_2    loadItem2(630, 1);  1-handed               War Axe     630
4    items_2    loadItem2(631, 1);  2-handed  Double Sided War Axe     631
..       ...                   ...       ...                   ...     ...
370  items_1   loadItem2(4913, 1);  2-handed       Mythology Staff    4913
371  items_1  loadItem2(11064, 1);  2-handed       Corrupted Staff   11064
372  items_1  loadItem2(17164, 1);  1-handed          Eternal Wand   17164
373  items_1  loadItem2(19228, 1);  2-handed         Rapture Staff   19228
374  items_1  loadItem2(20794, 1);  2-handed         Nurnian Staff   20794

[375 rows x 5 columns]

In [108]:
xd = pd.merge(df,df2, on='subtypes')
xd

   id_type     category   subtypes id_subtype            type     items
0   type_1      Weapons  subtype_1      sub_2            Axes   items_2
1   type_1      Weapons  subtype_1      sub_5            Bows   items_5
2   type_1      Weapons  subtype_1      sub_4           Claws   items_4
3   type_1      Weapons  subtype_1     sub_19         Daggers  items_19
4   type_1      Weapons  subtype_1     sub_21           Fists  items_21
5   type_1      Weapons  subtype_1      sub_7         Hammers   items_7
6   type_1      Weapons  subtype_1      sub_6        Javelins   items_6
7   type_1      Weapons  subtype_1     sub_20        Phantoms  items_20
8   type_1      Weapons  subtype_1      sub_8         Scythes   items_8
9   type_1      Weapons  subtype_1      sub_3          Swords   items_3
10  type_1      Weapons  subtype_1      sub_1  Wands & Staffs   items_1
11  type_2     Defenses  subtype_2     sub_10          Armors  items_10
12  type_2     Defenses  subtype_2      sub_9           Robes   items_9
13  type_2     Defenses  subtype_2     sub_11         Shields  items_11
14  type_2     Defenses  subtype_2     sub_12            Orbs  items_12
15  type_2     Defenses  subtype_2     sub_13       Bracelets  items_13
16  type_2     Defenses  subtype_2     sub_14       Gauntlets  items_14
17  type_2     Defenses  subtype_2     sub_15           Boots  items_15
18  type_3  Accessories  subtype_3     sub_16         Amulets  items_16
19  type_3  Accessories  subtype_3     sub_23           Belts  items_23
20  type_3  Accessories  subtype_3     sub_22        Earrings  items_22
21  type_3  Accessories  subtype_3     sub_17           Rings  items_17
22  type_3  Accessories  subtype_3     sub_18        Sheltoms  items_18

In [109]:
xd2 = pd.merge(xd,df3, on='items')
xd2

,id_type,category,subtypes,id_subtype,type,items,onClick,title,item_name,item_id
0,type_1,Weapons,subtype_1,sub_2,Axes,items_2,"loadItem2(627, 1);",1-handed,Stone Axe,627
1,type_1,Weapons,subtype_1,sub_2,Axes,items_2,"loadItem2(628, 1);",1-handed,Steel Axe,628
2,type_1,Weapons,subtype_1,sub_2,Axes,items_2,"loadItem2(629, 1);",1-handed,Battle Axe,629
3,type_1,Weapons,subtype_1,sub_2,Axes,items_2,"loadItem2(630, 1);",1-handed,War Axe,630
4,type_1,Weapons,subtype_1,sub_2,Axes,items_2,"loadItem2(631, 1);",2-handed,Double Sided War Axe,631
...,...,...,...,...,...,...,...,...,...,...
370,type_1,Weapons,subtype_1,sub_1,Wands & Staffs,items_1,"loadItem2(4913, 1);",2-handed,Mythology Staff,4913
371,type_1,Weapons,subtype_1,sub_1,Wands & Staffs,items_1,"loadItem2(11064, 1);",2-handed,Corrupted Staff,11064
372,type_1,Weapons,subtype_1,sub_1,Wands & Staffs,items_1,"loadItem2(17164, 1);",1-handed,Eternal Wand,17164
373,type_1,Weapons,subtype_1,sub_1,Wands & Staffs,items_1,"loadItem2(19228, 1);",2-handed,Rapture Staff,19228
374,type_1,Weapons,subtype_1,sub_1,Wands & Staffs,items_1,"loadItem2(20794, 1);",2-handed,Nurnian Staff,20794

In [ ]:
xd2.drop(columns=['onClick', 'title', 'item_name'], inplace=True)

In [83]:
# Make a request to the website
url = 'https://user.wartale.com/guide.asp?page=1&action=2&id=492'
response = requests.get(url)
soupitem = BeautifulSoup(response.content, 'html.parser')

In [94]:
def extract_values(tr):
    left_values = tr.select_one('td.item_box_text_left').get_text('\n', strip=True).split('\n')
    right_values = tr.select_one('td:not(.item_box_text_left)').get_text('\n', strip=True).split('\n')
    
    data_dict = {}
    for left, right in zip(left_values, right_values):
        data_dict[left] = right
    return data_dict

data = {}
item_box_header = soupitem.find('div', class_='item_box_header')
item_name = item_box_header.contents[0].strip()
item_id = soupitem.find("div", class_="item_box_img").img["alt"]

tr_indices = [1,
              4,
              7]
data = {
    "item_name": item_name,
    "item_id": item_id
}

for index in tr_indices:
    tr = soupitem.find_all('tr')[index]
    data.update(extract_values(tr))

data

{'item_name': 'Devine',
 'item_id': 'OS108',
 'Level': '55',
 'Spirit': '90',
 'HP Regen': '0.4',
 'MP Regen': '0.8 - 1.2'}

In [96]:
import json

def extract_values(tr):
    left_values = tr.select_one('td.item_box_text_left').get_text('\n', strip=True).split('\n')
    right_values = tr.select_one('td:not(.item_box_text_left)').get_text('\n', strip=True).split('\n')
    
    data_dict = {}
    for left, right in zip(left_values, right_values):
        data_dict[left] = right
    return data_dict

data = {}
item_box_header = soupitem.find('div', class_='item_box_header')
item_name = item_box_header.contents[0].strip()
item_id = soupitem.find("div", class_="item_box_img").img["alt"]

tr_indices = {
    "requirements": 1,
    "Base Stats": 4,
    "Spec. Stats": 7
}

extracted_data = {}

for key, index in tr_indices.items():
    tr = soupitem.find_all('tr')[index]
    extracted_data[key] = extract_values(tr)

data = {
    "item_name": item_name,
    "item_id": item_id,
    "extracted_data": extracted_data
}

json_output = json.dumps({"data": data}, indent=4)
print(json_output)

{
    "data": {
        "item_name": "Devine",
        "item_id": "OS108",
        "extracted_data": {
            "requirements": {
                "Level": "55",
                "Spirit": "90"
            },
            "Base Stats": {
                "HP Regen": "0.7 - 1",
                "MP Regen": "0.8 - 1.1"
            },
            "Spec. Stats": {
                "HP Regen": "0.4",
                "MP Regen": "0.8 - 1.2"
            }
        }
    }
}

In [97]:
import pandas as pd

def extract_values(tr):
    left_values = tr.select_one('td.item_box_text_left').get_text('\n', strip=True).split('\n')
    right_values = tr.select_one('td:not(.item_box_text_left)').get_text('\n', strip=True).split('\n')
    
    data_dict = {}
    for left, right in zip(left_values, right_values):
        data_dict[left] = right
    return data_dict

data = {}
item_box_header = soupitem.find('div', class_='item_box_header')
item_name = item_box_header.contents[0].strip()
item_id = soupitem.find("div", class_="item_box_img").img["alt"]

tr_indices = {
    "requirements": 1,
    "Base Stats": 4,
    "Spec. Stats": 7
}

data_frames = {}

for key, index in tr_indices.items():
    tr = soupitem.find_all('tr')[index]
    extracted_data = extract_values(tr)
    data_frames[key] = pd.DataFrame(list(extracted_data.items()), columns=['Key', key])

data = {
    "item_name": [item_name],
    "item_id": [item_id]
}

data_frame = pd.DataFrame(data)

for key, df in data_frames.items():
    data_frame = pd.merge(data_frame, df, on='Key', how='left')

print(data_frame)

KeyError: 'Key'