In [3]:
import pandas as pd
import sqlite3

In [4]:
conn = sqlite3.connect('ItemsDB.db')
cursor = conn.cursor()
# Execute an SQL query
cursor.execute("SELECT * FROM weapons w  LEFT JOIN bitems b ON w.item_id = b.item_id  LEFT JOIN items i ON b.items = i.items  WHERE w.item_id = 627")
rows = cursor.fetchall()
df = pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description])
conn.close()

In [5]:
df

,item_id,Min Damage,Max Damage,Attack Speed,Critical,Attack Rating,Integrity,Block,Evade,Range,...,Level,Strength,Talent,Agility,Spirit,Health,items,item_image_url,items,type
0,627,1 - 2,3 - 4,6,3%,30 - 38,30 - 36,None,None,None,...,0,0,0,0,0,0,items_2,https://user.wartale.com/images/items/itWA101.jpg,items_2,Axes

In [6]:
df.columns

Index(['item_id', 'Min Damage', 'Max Damage', 'Attack Speed', 'Critical',
       'Attack Rating', 'Integrity', 'Block', 'Evade', 'Range', 'Defense',
       'Add HP', 'Add MP', 'Min_Min_Damage', 'Max_Min_Damage',
       'Min_Max_Damage', 'Max_Max_Damage', 'Min_Attack_Ratting',
       'Max_Attack_Ratting', 'Min_Integrity', 'Max_Integrity', 'Min_Block',
       'Max_Block', 'Min_Evade', 'Max_Evade', 'Special Attack Speed',
       'Attack Power', 'Special Critical', 'Special Attack Rating',
       'Special Range', 'Special Block', 'Magic APT', 'MP Regen',
       'Special Defense', 'item_id', 'item_name', 'game_id', 'Weight', 'Price',
       'Level', 'Strength', 'Talent', 'Agility', 'Spirit', 'Health', 'items',
       'item_image_url', 'items', 'type'],
      dtype='object')

In [7]:
df['item_name']

0    Stone Axe
Name: item_name, dtype: object